<!DOCTYPE html>
<html>
    
<head>
	<title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">URL Shortener</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dashboard</a></li>
            <li><a href="{% url 'analytics' %}">Analytics</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hello, {{user}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

    <form class="form-inline" method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="longUrl">URL:</label>
            <input type="text" class="form-control" id="longUrl" name="longUrl">
            <label for="expiresIn">Expires in (days):</label>
            <input type="number" class="form-control" id="expiresIn" name="expiresIn" value="2" max="31">
        </div>
        <button type="submit" class="btn btn-default">Convert</button>
    </form>

    {% if shortUrl is not None %}
        <h4>The generated url is <a href="/short/{{shortUrl}}">{{request.get_host}}/short/{{shortUrl}}</a></h4>
    {% endif %}
    <br/>

    {% if urls %}
    <table border="black" class="table table-bordered table-hover">
    <tr>
        <th>Long URL</th>
        <th>Short URL</th>
        <th>Expiry</th>
    </tr>

    {% for url in urls%}
    <tr>
        <td>{{url.longUrl}}</td>
        <td><a href="/short/{{url.shortUrl}}">{{request.get_host}}/short/{{url.shortUrl}}</a> <span><a href="{% url 'analytics' %}{{url.shortUrl}}"><i class="fas fa-chart-line"></i></a></span></i></td>
        <td style="white-space: nowrap">{{url.expiryDatetime}}</td>
    </tr>
    {% endfor %}

    </table>
    {% else %}
    <h2>No urls was created by user</h2>
    {% endif %}
    </div>

</body>
</html>