<!DOCTYPE html>
<html>
    
<head>
	<title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">URL Shortener</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-log-out"></span> Register</a></li>

            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
        <h1>Short links, Big results</h1>
        <p>The website allows you to easily sent short URL to others.<br/>
        Analytics is also provided.</p>
        </div>
    </div>

</body>
</html>